@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

div { 
    display:flex;
    justify-content: center;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* COLORS */

body {
    background-color: #0C121C !important;
  }
.navbarColor {
    background-color: #080D14;
}





