@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background-color: #0C121C !important;

}
 
   
.side-bar-left {
    width: 250px;
    min-height: 200vh;
    transition: 500ms width;
    background-color: #080D14;
}
    
    
.user-p {
    
    text-align: center;
    padding-left: 15px;
    padding-top: 17px;
}
    
    
.side-bar-left ul {
    margin-left: 15px;
    list-style: none;
}
    
.side-bar-left ul li {
    padding-left: 15px;
    padding:15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
        
.side-bar-left ul li a {
    
    color: white;
    text-decoration: none;
    
}
    
    
.side-bar-left ul li:hover {
    background-color: rgb(25, 29, 61);
    
}
       
    
.u-name {
    align-items: center;
    color: white;
}
    
    

    
table{
    
    width: 50%;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 30px;
    background-color: rgb(199, 198, 198);
    margin-left: auto;
    margin-right: auto;
}
    
th{
    border: 2px solid black;
    padding: 10px;
}
    
td{
    border: 2px solid black;
    padding: 10px;
}
    