/* RESPONSIVE */

@media (min-width: 1445px) and (max-width: 2560px){
    .carousel-item {
        height: 80vh;
    }
    .carousel-indicators {
        bottom: -1% !important;
    }
    .carousel-control-next {
        bottom: -15% !important;
    }
    .carousel-control-prev {
        bottom: -15% !important;
    }
    #w-video-responsive {
        width: 1232px;
        height: 693px;
    }
    #carouselBanner {
        height: 80vh;
    }
}

@media (min-width: 1025px) and (max-width: 1440px){
    #w-video-responsive {
        width: 1232px;
        height: 693px;
    }
}


@media (min-width: 768px) and (max-width: 1024px){
    .carousel-caption {
        bottom: 20% !important;
    }
    .carousel-indicators {
        bottom: -7% !important;
    }
    .carousel-control-next {
        bottom: 20% !important;
    }
    .carousel-control-prev {
        bottom: 20% !important;
    }
    #w-video-responsive {
        width: 836px;
        height: 480px;
    }
    #carouselBanner {
        height: 50vh;
    }
}

@media (max-width: 767px) {
    .carousel-caption {
        bottom: 40% !important;
    }
    .carousel-indicators {
        bottom: 40% !important;
    }
    .carousel-control-next {
        bottom: 40% !important;
    }
    .carousel-control-prev {
        bottom: 40% !important;
    }
    #w-video-responsive {
        width: 400px;
        height: 200px;
    }

}

@media (max-width: 766px) and (min-width: 425px) {
    .carousel-indicators {
        bottom: 60% !important;
    }
    .carousel-control-next {
        bottom: 60% !important;
    }
    .carousel-control-prev {
        bottom: 60% !important;
    }
    #xs-fix {
        display: flex;
        flex-direction: column;
    }
}