@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/* COLORS */

body {
    background-color: #0C121C !important;
  }
.navbarColor {
    background-color: #080D14;
}

/* BANNER PROPERTIES */
#carouselBanner {
    height: 65vh;
    opacity: 0.8;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*estilos del navbar*/

.navbar {
    width: 100%;
    position: fixed;
}

ul li a:hover {
    
    text-decoration: underline;
    border-radius: 5px;
    padding: 0px;
}

ul li {
    margin: 0 20px;
}

ul li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
}

ul{
    margin: 0;
    padding: 0;
    
}

.navbar-toggler{
    display: flex;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 20px;
}

.navbar-toggler:hover{
    cursor: pointer;
}
